@import './../../styles/mixins.scss';

p {
  margin: 0;
}

.recipes {
  position: relative;

  &__meals {
    display: grid;
    justify-content: center;
    column-gap: 0px;
    row-gap: 30px;
  
    margin-bottom: 30px;

    @include on-tablet {
      grid-template-columns: repeat(2, 2fr);
    }

    @include on-tablet-bigger {
      grid-template-columns: repeat(3, 3fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(4, 6fr);
    }
  }

  &__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.category {
  &--title {
    font-size: 20px;
  }
}

.dropdown-divider {
  margin-bottom: 20px;
}

.category--title {
  display: block;
  margin-bottom: 5px;
}

.actions {
  display: flex;
  column-gap: 50px;
  align-items: flex-end;
  margin-bottom: 25px;
}

.search {
  height: 25px;
  width: 250px;
  border-radius: 5px;
}
