@import './../../styles/mixins.scss';

.favourites {
  &__list {
    display: flex;
    justify-content: center;

    position: relative;
    gap: 10px;
    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 40px;
      gap: 20px;
    }
  }

  &__meals {
    display: grid;
    gap: 30px;
    margin-bottom: 35px;

    @media (min-width: 750px) {
      grid-template-columns: repeat((2, 2fr));
    }

    @include on-tablet {
      gap: 50px;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 3fr);
    }
  }
}

.button-ingredient {
  height: 40px;
  font-size: 15px;
  padding-inline: 2px;

  @include on-tablet {
    height: 50px;
    font-size: 16px;
    padding-inline: 8px;
  }
}

.modal__favourites {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
