.ingredients--measures {
  display: flex;

  gap: 50px;
}

.section__ingredients {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.meal {
  margin: 50px;
  padding: 20px;
  background-color: #99b3ff;
  border-radius: 14px;
  // #ffa500

  &__description {
    margin-bottom: 15px;
  }

  &__name {
    padding-right: 15px;
  }
  &__value {
    font-size: 13px;
    padding-right: 18px;
    overflow-wrap: break-word;
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    &--main {
      width: 350px;
      border-radius: 15px;
    }
  }
}

.meal__title {
  text-align: center;
}
