.ingredients--measures {
  display: flex;

  gap: 50px;
}

.section__ingredients {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.meal {
  margin: 50px;
  padding: 20px;
  background-color: #99b3ff;
  // background-color:#99b3ff;
  // opacity: 0.8;?
  border-radius: 14px;
  // color: #4a08ff; #ffa500
  // color: #b3b36b;


  &__image {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    // align-items: center;

    &--main {
      width: 350px;
      border-radius: 15px;
    }
  }
}

.meal__title {
  text-align: center;
}

// table, th, td {
//   border:1px solid black;
// }

// table {
//   background-color: antiquewhite;
// }
